body{
   
    background-color: rgb(167, 167, 243);
  font-family: cursive;
}


span{
   
    font-size: 30px;
    font-weight: 500;
    float: left;
}

h1{
    font-weight: bold;
     font-family: 'Kalam', cursive;
     font-size: 60px;
     background-color:#ffff99;
}

p{
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 30px;
}